@charset "utf-8";

.searchbar{ background-color: #EFFBFF; border-bottom: 1px solid #B5E0EF; }
.search_input{ border:none; background:url(images/other/search_lbg.gif) repeat-x; color:#b7b7b7; }
.search_btn{ background:url(images/other/search_lbtn.gif) no-repeat; border:0; }

.navbar{ background: url("images/other/navbar_bg.png") repeat-x 0 0 transparent; }
.navbar span{ background: url("images/other/navbar_ico.png") no-repeat 0 6px transparent; }
.navbar a{ color:#333; text-decoration:none; }
.navbar a:hover{ color:#CC3333; text-decoration:none; }

.column{}
.portlet{ border:1px solid #F6C783; -moz-box-shadow:2px 2px 3px #DDD; -moz-border-radius:3px; border-radius:3px; box-shadow:2px 2px 3px #DDD; background-color:#FFF; }
.portlet .title{ color:#666; border-bottom:#AAD9E9; background:url(images/titlebg/titleBg.gif) repeat-x; }
.portlet .title a{ background:url(images/titlebg/more.gif); }
.portlet .title a:hover{ background:url(images/titlebg/more.gif) no-repeat 0 -26px; }
.showArrow{ background:url(images/titlebg/more.gif) no-repeat -11px -52px; }
.hideArrow{ background:url(images/titlebg/more.gif) no-repeat 0px -52px; }
.portlet ul.newList {}
.portlet ul.newList {}
.portlet ul.newList li {}
.portlet ul.newList li a{ text-decoration:none; color:#666; background:url(images/other/icoArrows.gif) 7px 6px no-repeat; *background-position:7px 7px;  }
.portlet ul.newList li a:hover { color:#cc3333; }
.portlet ul.newList li img { }
.portlet ul.newList li span {color:#888;  }
.ui-placeholder{ border: 1px dotted black; height:120px; }

.wrapDatePicker{ border:1px solid #F9D094; background-color:#FFF; width:150px; display:inline-block; cursor:text; *display:inline; *zoom:1; }
.wrapDatePicker input[type=text]{ padding: 0; margin: 0; margin-bottom: 2px; }
.wrapDatePicker .datePicker{ border:0; width:68px; width:66px\9; background-color:#FFF; font:11px '微软雅黑'; text-align:center; vertical-align:middle\9; }
.ui-datepicker .fixIE6{ display:block; width:100%; heigth:100%; border:none; text-decoration:none; }

a.dropClickArrow{ background:url(images/form/dropDownArrow.gif) no-repeat center top; }
a.dropClickArrow:hover{ background-position:center center; }
a.dropClickArrow:active{ background-position:center bottom; }