@charset "utf-8";
/* style of yhui
 * created by lijuan 20130709
 */
 
 /*datatable*/
.datatable{ 
	width:100%;
				
	border:1px solid #c4e1ea;}
.datatable td{	 
	padding:2px 2px 2px 5px;	
	height:24px;
	line-height:20px;
	vertical-align:middle; 
	text-align:left;
	word-break: keep-all; 
	white-space:nowrap; 
	/*word-break:break-all;
	white-space:normal;
	word-wrap:break-word;*/		
	color:#666;	
	border-top:1px solid #c4e1ea;
	border-left:1px solid #c4e1ea;
	background-color:#fff;}
.datatable tr th{
	height:30px;	
	vertical-align:middle;
	text-align:center;
	font-weight:400;
	word-break: keep-all; 
	white-space:nowrap; 	
	color:#333;
	border-top:1px solid #c4e1ea;
	border-left:1px solid #c4e1ea;
	background:#dff3fa url(../images/table/TableBg.gif) top repeat-x; }
.datatable .tr1 td{ background-color:#ffffff;}
.datatable .tr2 td{ background-color:#f7fdfe;}
.datatable .tr3 td{ background-color:#fffde6;}
.datatable td.tr2{ background-color:#f7fdfe;}

/*listtable*/
.listtable{
	width:100%;	}
.listtable tr td{
	height:34px;
	padding-left:5px;
	line-height:34px;	
	word-break: keep-all; 
	white-space:nowrap;
	color:#333; }
.listtable .g .c1,.listtable .g .c3,.listtable .g .c5{ width:10%;}
.listtable .g .c2,.listtable .g .c4,.listtable .g .c6{ width:25%;}
.colColor .g .c2,.colColor .g .c4,.colColor .g .c6{background-color:#fff;}
.listtable .rt{ float:right; *margin-top:-22px;}
.listtable a{ cursor:pointer; text-decoration:none;}
.listtable .red{ padding-right:5px;color:#cc0033; }
.listtable .gray{ padding-left:5px; color:#999; }
.listtable .error{
	color:#cc0033;}
.textR{
	padding-right:5px;
	text-align:right;}
.wordBreak{
	word-break:break-all;
	white-space:normal;
	word-wrap:break-word;}
	
.input{
	height:22px;
	line-height:22px;
	padding:0 2px;
	border:1px solid #bbddee;}
.textarea{
	width:82%;
	height:60px;
	margin-top:6px;
	padding:2px;
	border:1px solid #bbddee;}


	

.overlay{
	position:absolute;
	left:0; top:0;
	width:2000px;
	height:800px;
	background-color:#333;
	opacity: 0.5;
	filter: alpha(opacity=40);}
.pop{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-200px;
	width:800px;
	height:400px;
	border:2px solid #2fb0d8;
	background-color:#f7fdff;}
.pop_shadow{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-402px;
	margin-top:-196px;
	width:808px;
	height:404px;
	background-color:#6f6f6f;}
	
.pop_header{
	height:30px;
	background:url(images/pop/pop_header_bg.gif) repeat-x;}
.pop_header h3{
	float:left;
	height:30px;
	font-weight:400;
	line-height:30px;
	padding-left:22px;
	background:url(images/pop/ico_title.gif) 4px 6px no-repeat;}
.pop_header .r{
	float:right;}
.pop_header .ico_close{
	cursor:pointer;
	width:25px;
	height:30px;
	background:url(images/pop/ico_close.gif) 0 12px no-repeat;}
.pop_content{
	height:296px;
	padding:20px;
	background:url(images/pop/pop_content_bg.gif) repeat-x;}
.pop_bottom{
	height:22x;
	padding:6px 10px;	
	background:url(images/pop/pop_bottom_bg.gif) repeat-x;}
.pop_bottom input{ float:right; margin-right:10px;}
.btn_confirm{
	height:20px;
	width:72px;
	padding-left:25px;
	line-height:20px;
	color:#333;
	background:url(images/pop/btn_defatule_bg.gif) 0 0 no-repeat;
	border:1px solid #aedbea;}	
.btn_confirm:hover{
	border:1px solid #248ef4;}
