@charset "utf-8";
/* style of yhui skin blue
 * created by jiangyuan(qq:741967342) 20130308
 */

::-webkit-scrollbar { width: 16px; height: 16px; background: #FFF; }
::-webkit-scrollbar-track { border: 1px solid #A2DDF0; box-shadow: none !important; /*-webkit-box-shadow: inset 0 0 6px rgba( 252, 179, 22, 1 );*/ border-radius: 0 !important; }
::-webkit-scrollbar-thumb { /*-webkit-box-shadow: inset 0 0 8px rgba( 245, 212, 157, 1 );*/ box-shadow: none !important; border: 1px solid #A2DDF0;  border-radius: 0 !important; background-color: #E4F4F9; }
/*::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }*/
::-webkit-scrollbar-track:vertical { border-bottom: none; border-top: none; }
::-webkit-scrollbar-track:horizontal { border-left: none; border-right: none; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment { border: 1px solid #A2DDF0; /*-webkit-box-shadow: inset 0 0 6px rgba( 252, 179, 22, 1 ); */ box-shadow: none !important; height: 16px; width: 16px; display: block; }
::-webkit-scrollbar-button:vertical:decrement { border-bottom: none; background: #FFF url(images/webkit-scrollbar.png) no-repeat -1px -1px; }
::-webkit-scrollbar-button:vertical:increment { border-top: none; background: #FFF url(images/webkit-scrollbar.png) no-repeat -1px -16px; }
::-webkit-scrollbar-button:horizontal:decrement { border-right: none; background: #FFF url(images/webkit-scrollbar.png) no-repeat -1px -32px; }
::-webkit-scrollbar-button:horizontal:increment { border-left: none; background: #FFF url(images/webkit-scrollbar.png) no-repeat -1px -48px; }

body{ background-color:#F7FDFF; }
.yhui-state-hover{ background-color: #CFE8EE; }
.yhui-state-actived{ background-color: #85C7E1; color: #FFF; }
.yhui-whole-overlay{ background-color:#FFF; }
.yhui-whole-loading{ background: transparent url(images/loading/yhui-whole-loading.gif) no-repeat center center; }
.yhui-header{ background:url(images/header_bg.png) no-repeat; }
.yhui-header-inner{ color:#E8F9FF; }
.yhui-header-inner div a{ color:white; text-decoration:none; }
.yhui-header-inner a:hover{ text-decoration:underline; }
.yhui-header-welcome{ background :url(images/other/admin_ico.gif) no-repeat scroll 0 -1px transparent; margin-right:0; }
.yhui-header-inner div a.yhui-header-password{ color:#fed482; }
.yhui-header-inner div a.yhui-header-password span{ background-color:#F7E0AF; color:black; }
.yhui-header-role{ background:url(images/other/icoRole.gif) no-repeat 60px 6px; }
.userRoleHover{ border:1px solid #026F94; border-bottom:none; color:#666; background:#EAF9FF url(images/other/icoRole.gif) no-repeat 60px -24px; }
.yhui-header-rolelist{ border:1px solid #026F94; border-top:none; background:#C9EBF8 url(images/other/roleBg.gif) top repeat-x; }
.yhui-header-rolelist li a{ color:#666; }
.yhui-header-rolelist a:hover{ text-decoration: none; background: url(images/menu/submenuliBg.gif) repeat-x scroll 0 0 #B6EAFC; }
.yhui-menu-firstli{ color: #BDF0FF; background:url(images/menu/header_nav_line.gif) no-repeat right; border:1px solid transparent; }
.yhui-ie6 .yhui-menu-firstli { border: none; }
.yhui-menu-firstli:hover, .yhui-menu-firhover{ background:url(images/menu/menuHoverBg.gif) repeat-x; color:#666; border:1px solid #026F94; _border:0; }
.yhui-menu-firstli a { color: #BDF0FF; text-decoration:none; }
.yhui-menu-firstli:hover a, .yhui-menu-firhover a.hover, .yhui-menu-secul li a { color: #666; }
.yhui-menu-secul{ background:url(images/menu/submenuBg.gif) repeat-x scroll 0 0 #E7F8FF; border:1px solid #026F94; }
.yhui-menu-secul li:hover, .yhui-menu-seclihover{ background:url(images/menu/submenuliBg.gif) repeat-x scroll 0 0 #B6EAFC; }
.yhui-menu-firstli span, .yhui-menu-secul li span{ font-family: 'SimSun' serif sans-serif; }
/*.yhui-formfield-table td{ border:1px solid #E0F0F2; }
.yhui-formfield-table td.column2Odd,
.yhui-formfield-table td.column4Odd,
.yhui-formfield-table td.column6Odd{ background-color:#FFF; }
.yhui-formfield-table td.hover{ background-color:#C3EAF7; }*/
.yhui-form-icon{ background:url(images/form/formIcon.png) no-repeat; _background:url(images/form/formIcon.gif) no-repeat; }
.yhui-form-confirm{ background-position:0 -180px; }
.yhui-form-error{ background-position:0 -220px; }
.yhui-form-required{ background-position:0 -280px; }
.yhui-form-text{ border: 1px solid #b9e3f1; color: #666666; height: 20px; line-height: 20px; padding-left: 3px; padding-right: 3px;}
.yhui-form-select{ border:1px solid #B9E3F1; }
textarea{border: 1px solid #b9e3f1;}

.yhui-btn{ border: 1px solid #b9e3f1; background: #effbff url(images/ui-bg_highlight-soft_100_effbff_1x100.png) 50% 50% repeat-x; padding:5px 6px;color:#666; }
.yhui-btn:hover{ border: 1px solid #b5e0ef; background: #ddf5fe url(images/ui-bg_highlight-hard_100_ddf5fe_1x100.png) 50% 50% repeat-x;  }
.yhui-btn-disabled{ opacity:0.5; filter:alpha(opacity=50); cursor:no-drop; }
.yhui-btn-disabled:hover{ background-position:0 1px; }
.yhui-btn-disabled span{ cursor:no-drop; }
.yhui-btn-save{ background-position:0 -40px; }
.yhui-btn-back{ background-position:0 -60px; }
.yhui-btn-close{ background-position:0 -80px; }
.yhui-btn-search{ background-position:0 -100px; }
.yhui-btn-next{ background-position:0 -260px; }
.yhui-btn-confirm{ background-position:0 -119px; }
.yhui-btn-reset{ background-position:0 -140px; }
.yhui-btn-cancel{ background-position:0 -160px; }
.yhui-btn-submit{ background-position:0 -200px; }
.yhui-btn-mselect-n{ background-position:0 -240px; }
.yhui-btn-mselect-e{ background-position:0 -260px; }
.yhui-btn-alert{ width:17px; background-position:0 -300px; }
.yhui-btn-unselectall{ background-position:0 -320px; }
.yhui-btn-selectall{ background-position:0 -340px; }
.yhui-dropdown{ background-color:#FFF; border:1px solid #B9E3F1; }
.yhui-dropdown-arrow{ background:url(images/form/dropDownArrow.gif) no-repeat center top; }
.yhui-dropdown-arrow:hover{ background-position:center center; }
.yhui-dropdown-arrow:active{ background-position:center bottom; }
.yhui-dropdown-disabled{ opacity: 0.35; background-color:#ccc; filter: alpha(opacity=35); }
.yhui-dropdown-wrapdisabled{ border:1px solid #EDEDED; }
.yhui-dropdown-drop{ background-color:#F7FDFF; border:1px solid #36B1D9; }
.yhui-dropdown-tree{ border-top:1px solid #36B1D9; }
.yhui-tabs-header{ border-top:0 !important; border-bottom:1px solid #B9E3F1; }
.yhui-tabs-header-inner, .yhui-tabs-header .yhui-tabs-header-inner .ui-tabs-nav{ border:0 }
.yhui-tabs-header .ui-icon{ border:1px solid #B9E3F1; }
.yhui-tabs-list{ border:1px solid #54BFDF; background-color:#F7FDFF; }
.ui-dialog .yhui-tabs-loading{ background:url(images/loading/yhui-loading-big.gif) no-repeat center center; }
.yhui-tabs-list-menu{ border-top:1px solid #54BFDF; }
.yhui-tabs-list-hover{ background-color:#C3EAF7; }
.yhui-tabs-list-disable{ color: #BBB; }
.yhui-tabs-list-actived{ color:#fff; background-color: #69B9D9; }
.yhui-tabs-arrow-hover{ background-color:#FFF; }
.yhui-selector-btn{ border: 1px solid #B9E3F1; }
.yhui-selector-leftpanel{ border-right: 1px solid #B9E3F1; background: transparent url(images/loading/yhui-loading-small.gif) no-repeat center center; }
.yhui-selector-rightpanel{ border-left: 1px solid #B9E3F1; }
.yhui-selector-panel div.ui-selected{ background-color: #85C7E1; color: #FFF; }
.yhui-selector-panel div.ui-selecting{ background: #c9edfb url(images/ui-bg_inset-hard_100_c9edfb_1x100.png) 50% 60% repeat-x; color: #666; }
.yhui-scrolltabs .yhui-scrolltabs-title{ border:1px solid #B9E3F1; }
.yhui-window-taskbar ul{ background:#d6e9ef;  height:27px; }
.yhui-window-taskbar li{ background:#F7FDFF url(images/window_li_bg.png) no-repeat 0 0; line-height:27px; height:27px;  margin:0;}
.yhui-window-taskbar li:hover{ background:url(images/window_li_bg.png) 0 -27px no-repeat ; }
.yhui-contextmenu a { border: 1px solid #F7FDFF; }
.yhui-contextmenu a.ui-state-focus { font-weight: normal; }
.yhui-datepicker-holder { background: url(images/form/date.png) no-repeat right 3px; }
.yhui-datepicker { background: url(images/form/datepicker-bg.png) no-repeat; }
.yhui-datepicker-head a { text-decoration: none; }
.yhui-datepicker-head a.ui-state-hover { border-color: #B5E0EF; }
.yhui-datepicker-year, .yhui-datepicker-month { border: 1px solid #B9E3F1; background: #FFF; }
.yhui-datepicker-head div .ui-state-hover {border: none; }
.yhui-datepicker-head div table td.yhui-state-hover {background-color: #C5EFFF; }
.yhui-datepicker-head .yhui-datepicker-btntoday { background: url(images/form/datepicker.png) no-repeat 0 -200px; color: #9B9B9B; }
.yhui-ie6 .yhui-datepicker-head .yhui-datepicker-btntoday { background: url(images/form/datepicker.gif) no-repeat 0 -200px; }
.yhui-datepicker-head .yhui-datepicker-btntoday:hover { background-position: 0 -160px; }
.yhui-datepicker-head input { border: none; color: #9B9B9B; }
.yhui-datepicker-head .yhui-datepicker-changeyear { background: url(images/form/datepicker.png) no-repeat 0 -80px; }
.yhui-ie6 .yhui-datepicker-head .yhui-datepicker-changeyear { background: url(images/form/datepicker.gif) no-repeat 0 -80px; }
.yhui-datepicker-head .yhui-datepicker-changemonth { background: url(images/form/datepicker.png) no-repeat 0 -120px; }
.yhui-ie6 .yhui-datepicker-head .yhui-datepicker-changemonth { background: url(images/form/datepicker.gif) no-repeat 0 -120px; }
.yhui-datepicker-focusyear .yhui-datepicker-changeyear { background-position: 0 0; }
.yhui-ie6 .yhui-datepicker-focusyear .yhui-datepicker-changeyear { background-position: 0 0; }
.yhui-datepicker-focusmonth .yhui-datepicker-changemonth { background-position: 0 -40px; }
.yhui-ie6 .yhui-datepicker-focusmonth .yhui-datepicker-changemonth { background-position:  0 -40px; }
.yhui-datepicker-head .yhui-datepicker-split { background: url(images/form/datepicker.png) no-repeat right -160px; }
.yhui-ie6 .yhui-datepicker-head .yhui-datepicker-split { background: url(images/form/datepicker.gif) no-repeat right -160px; }
.yhui-datepicker-main th { background: transparent; }
.yhui-datepicker-weekbegin, .yhui-datepicker-weekend { color: #BF0000; }
.yhui-datepicker-prevmonth, .yhui-datepicker-nextmonth { color: #C2C2C2; }
.yhui-datepicker-disable { color: #DDD; background-color: transparent; cursor: text !important; }
.yhui-datepicker-main th, .yhui-datepicker-main td { border: 1px solid #CCF0FF; }
.yhui-datepicker-main th { background-color: #E3F7FF; }
.yhui-datepicker-today { background: url(images/form/datepicker.png) no-repeat 0 -440px; }
.yhui-ie6 .yhui-datepicker-today { background: url(images/form/datepicker.gif) no-repeat 0 -440px; }
.yhui-datepicker .yhui-datepicker-main .yhui-state-hover { background: url(images/form/datepicker.png) no-repeat 0 -400px; }
.yhui-ie6 .yhui-datepicker .yhui-datepicker-main .yhui-state-hover { background: url(images/form/datepicker.gif) no-repeat 0 -400px; }
.yhui-datepicker .yhui-datepicker-main .yhui-datepicker-selecteddate { background: url(images/form/datepicker.png) no-repeat 0 -480px; }
.yhui-ie6 .yhui-datepicker .yhui-datepicker-main .yhui-datepicker-selecteddate { background: url(images/form/datepicker.gif) no-repeat 0 -480px; }
.yhui-datepicker-time { background: url(images/form/timepicker.png) no-repeat; }
.yhui-datepicker-timeinner input { background: transparent; }
.yhui-datepicker-timeinner a span { border-left: 1px solid #DCDCDD; }
.yhui-datepicker-time .yhui-datepicker-timeinner .yhui-datepicker-focus { background-color: #85C7E1; }
.yhui-datepicker-control button { border: none; background: url(images/form/datepicker.png) no-repeat 0 -240px; }
.yhui-ie6 .yhui-datepicker-control button { border: none; background: url(images/form/datepicker.png) no-repeat 0 -240px; }
.yhui-datepicker-control button:hover { background-position: 0 -280px; }
.yhui-datepicker-control button:active { background-position: 0 -320px; }
.yhui-datepicker-up .ui-icon-triangle-1-n { background-position: 1px -16px;}
.yhui-portlet-panel { box-shadow: 2px 2px 3px #DDD; }
.yhui-portlet-head { border: none; border-bottom: 1px solid #B9E3F1; }
.yhui-portlet-panelcontrol { border: 1px solid #B9E3F1; }
.yhui-portlet-content { border: none; }

.yhui-validate { border: 1px solid #CC0000; }
.yhui-validate-tip { background: transparent url(images/form/validate-errorbg-w.png) no-repeat left center; }
.yhui-ie6 .yhui-validate-tip { background: transparent url(images/form/validate-errorbg-w.gif) no-repeat left center; }
.yhui-validate-tip-content { border: 1px solid #CC0000; border-left: none; background-color: #CC0000; }
.yhui-validate-tip-errorlist { color: #FFF; background: transparent url(images/form/validate-error-ico.gif) no-repeat 5px 1px; }
.yhui-ff .yhui-validate-tip-errorlist { background-position: 5px 3px; }
.yhui-chrome .yhui-validate-tip-errorlist { background-position: 5px 2px;}
.yhui-validate-pending { background: transparent url(images/loading/yhui-loading-small.gif) no-repeat; }

.yhui-searchbox { border-bottom: 1px solid #B5E0EF; background: #fff url(images/form/searchbox.png) no-repeat 31px -75px; }
.yhui-ie6 .yhui-searchbox { background: #EFFBFF url(images/form/searchbox.gif) no-repeat 31px -75px; }
.yhui-searchbox-input { border:none; color: #666; background: transparent; }
.yhui-searchbox-cancel { border:0; background: #EFFBFF url(images/form/searchbox.png) no-repeat left -5px; }
.yhui-ie6 .yhui-searchbox-cancel { background: #EFFBFF url(images/form/searchbox.gif) no-repeat left -5px; }
.yhui-searchbox .yhui-searchbox-cancel-enable { background-position: -36px -5px; }
.yhui-searchbox-search { border:0; background: #EFFBFF url(images/form/searchbox.png) no-repeat left -41px; }
.yhui-ie6 .yhui-searchbox-search { background: #EFFBFF url(images/form/searchbox.gif) no-repeat left -41px; }
.yhui-searchbox .yhui-searchbox-search-enable { background-position: -36px -40px; }
.yhui-treemenu{ padding:0; border-bottom:1px solid #B5E0EF; }
ul.yhui-treemenu-nobottom{ border-bottom: none; }
.yhui-treemenu li a.level0 { height:20px; text-align:left; text-indent:1em; display:block; background: url(images/ui-bg_highlight-soft_100_effbff_1x100.png) repeat-x scroll 50% 60% #C9EDFB; border: 1px solid #B5E0EF; border-bottom:none; }
.yhui-treemenu li a.level0:hover{ text-decoration:none; background: #ddf5fe url(images/ui-bg_highlight-hard_100_ddf5fe_1x100.png) 50% 50% repeat-x; }
.yhui-treemenu li a.level0.actived { background: #c9edfb url(images/ui-bg_inset-hard_100_c9edfb_1x100.png) 50% 60% repeat-x; }
.yhui-treemenu li a.level0 span { display: block; color: #666; line-height:1.8; font-weight: bold; word-spacing: 2px; }
.yhui-treemenu li a.level0 span.button { display:none; }
.yhui-treemenu li span.button.switch.level0 { display:none; }
.ui-layout-west { overflow: auto; }
.ui-layout-pane { background-color: #F7FDFF; }

.yhui-loading {}
.yhui-loading-small { background: transparent url(images/loading/yhui-loading-small.gif) no-repeat center center; }
.yhui-loading-middle { background: transparent url(images/loading/yhui-loading-middle.gif) no-repeat center center; }
.yhui-loading-big { background: transparent url(images/loading/yhui-loading-big.gif) no-repeat center center; }

.yhui-dialogtip .yhui-dialogtip-logo{ background:url(images/yhui-dialogtip-logo.png) no-repeat;  }
.yhui-ie6 .yhui-dialogtip .yhui-dialogtip-logo { background:url(images/yhui-dialogtip-logo-ie6.gif) no-repeat; }
.yhui-dialogtip .yhui-dialogtip-confirm{ background-position:0 -64px; }
.yhui-dialogtip .yhui-dialogtip-error{ background-position:0 -128px; }
.yhui-dialogtip div.ui-dialog-buttonpane {
    background-image: -webkit-linear-gradient(#F7FDFF, #E3F4FA);
    background-image: -moz-linear-gradient(#F7FDFF, #E3F4FA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FDFF', endColorstr='#E3F4FA');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FDFF', endColorstr='#E3F4FA')";
    background-image: linear-gradient(#F7FDFF, #E3F4FA);
}
.yhui-ui-line{margin:1px;border:none;border-top:1px solid #B9E3F1;position:absolute;left:0;width:100%;}
.ui-box-shadow{box-shadow:0 0 10px #333; border:2px solid #B9E3F1}
.ui-box-shadow .ui-jqdialog-title em{ background:url(images/ui-icons_y20130927.png) 0 0 no-repeat; width:12px; height:12px; display:inline-block; margin:0 3px; vertical-align:middle;}
.ui-dialog-border{border:2px solid #2fb0d8; box-shadow: 0 0 5px #666;}
.yhui-formbody{background-color:transparent;margin-top: 15px;}

.button_temp{margin:20px;}
.button_temp button{
	cursor: pointer;
	padding: 4px 10px;
	border: 1px solid #A2DDF0;
	background-image: -webkit-linear-gradient(#F7FDFF, #E3F4FA);
    background-image: -moz-linear-gradient(#F7FDFF, #E3F4FA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FDFF', endColorstr='#E3F4FA');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FDFF', endColorstr='#E3F4FA')";
    background-image: linear-gradient(#F7FDFF, #E3F4FA);}