<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhui.core.repository.common.SqlColumnDAO">
	<select id="findAllColumns" resultType="SqlColumn">
		SELECT table_name,column_name,data_type,data_length FROM User_Tab_Cols s
	</select>
</mapper>