<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiaxiao.repository.RoasterJxDAO">
	<resultMap type="TbRoasterJx" id="defaulfResultMap">
		<id property="courseId" column="COURSE_ID"/>
		<result property="branchId" column="BRANCH_ID"/>
		<result property="branchName" column="BRANCH_NAME"/>
		<result property="canSignNum" column="CAN_SIGN_NUM"/>
		<result property="common" column="common"/>
		<result property="courseHour" column="COURSE_HOUR"/>
		<result property="courseInNum" column="COURSE_IN_NUM"/>
		<result property="courseInfo" column="COURSE_INFO"/>
		<result property="courseName" column="COURSE_NAME"/>
		<result property="courseNoticBHour" column="COURSE_NOTIC_B_HOUR"/>
		<result property="courseStat" column="COURSE_STAT"/>
		<result property="courseStatCode" column="COURSE_STAT_CODE"/>
		<result property="courseTimearea" column="COURSE_TIMEAREA"/>
		<result property="courseTimeareaCode" column="COURSE_TIMEAREA_CODE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
		<result property="editEndTime" column="EDIT_END_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="isCourseNotic" column="IS_COURSE_NOTIC"/>
		<result property="isRoastNotic" column="IS_ROAST_NOTIC"/>
		<result property="jxId" column="JX_ID"/>
		<result property="jxName" column="JX_NAME"/>
		<result property="offlineNum" column="OFFLINE_NUM"/>
		<result property="roastNoticAHour" column="ROAST_NOTIC_A_HOUR"/>
		<result property="signEndTime" column="SIGN_END_TIME"/>
		<result property="startTime" column="START_TIME"/>
		<result property="subjectId" column="SUBJECT_ID"/>
		<result property="subjectName" column="SUBJECT_NAME"/>
		<result property="teacherId" column="TEACHER_ID"/>
		<result property="teacherName" column="TEACHER_NAME"/>
	</resultMap>
	<resultMap type="TbRoasterJx" id="roastJxcourse">
		<id property="courseId" column="ROASTER_ID"/>
		<result property="branchId" column="BRANCH_ID"/>
		<result property="branchName" column="BRANCH_NAME"/>
		<result property="canSignNum" column="CAN_SIGN_NUM"/>
		<result property="common" column="common"/>
		<result property="courseHour" column="COURSE_HOUR"/>
		<result property="courseInNum" column="COURSE_IN_NUM"/>
		<result property="courseInfo" column="COURSE_INFO"/>
		<result property="courseName" column="COURSE_NAME"/>
		<result property="courseNoticBHour" column="COURSE_NOTIC_B_HOUR"/>
		<result property="courseStat" column="COURSE_STAT"/>
		<result property="courseStatCode" column="COURSE_STAT_CODE"/>
		<result property="courseTimearea" column="COURSE_TIMEAREA"/>
		<result property="courseTimeareaCode" column="COURSE_TIMEAREA_CODE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
		<result property="editEndTime" column="EDIT_END_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="isCourseNotic" column="IS_COURSE_NOTIC"/>
		<result property="isRoastNotic" column="IS_ROAST_NOTIC"/>
		<result property="jxId" column="JX_ID"/>
		<result property="jxName" column="JX_NAME"/>
		<result property="offlineNum" column="OFFLINE_NUM"/>
		<result property="roastNoticAHour" column="ROAST_NOTIC_A_HOUR"/>
		<result property="signEndTime" column="SIGN_END_TIME"/>
		<result property="startTime" column="COURSE_START_TIME"/>
		<result property="subjectId" column="SUBJECT_ID"/>
		<result property="subjectName" column="SUBJECT_NAME"/>
		<result property="teacherId" column="TEACHER_ID"/>
		<result property="teacherName" column="TEACHER_NAME"/>
	</resultMap>
	<resultMap type="RoasterCourses" id="rcMap">
		<id property="roasterId" column="ROASTER_ID"/>
		<association property="tbRoasterJx" resultMap="roastJxcourse" column="ROASTER_ID"></association>
		<collection property="tbCourseSts" column="ST_COURSE_ID" ofType="TbCourseSt">
			<id property="stCourseId" column="ST_COURSE_ID"/>
			<result property="courseId" column="CS_ID"/>
			<result property="bookTime" column="BOOK_TIME"/>
			<result property="cancelDate" column="CANCEL_DATE"/>
			<result property="cancelInfo" column="CANCEL_INFO"/>
			<result property="carScore" column="CAR_SCORE"/>
			<result property="common" column="common"/>
			<result property="courseId" column="COURSE_ID"/>
			<result property="courseName" column="COURSE_NAME"/>
			<result property="courseStat" column="COURSE_STAT"/>
			<result property="courseStatCode" column="COURSE_STAT_CODE"/>
			<result property="implCourseStat" column="IMPL_COURSE_STAT"/>
			<result property="implCourseStatCode" column="IMPL_COURSE_STAT_CODE"/>
			<result property="isCancelBook" column="IS_CANCEL_BOOK"/>
			<result property="isNormalCancel" column="IS_NORMAL_CANCEL"/>
			<result property="isUncareUnimpl" column="IS_UNCARE_UNIMPL"/>
			<result property="learnInfo" column="LEARN_INFO"/>
			<result property="overTime" column="OVER_TIME"/>
			<result property="scoreInfo" column="SCORE_INFO"/>
			<result property="scoreTime" column="SCORE_TIME"/>
			<result property="serviceScore" column="SERVICE_SCORE"/>
			<result property="startTime" column="START_TIME"/>
			<result property="studentId" column="STUDENT_ID"/>
			<result property="studentName" column="STUDENT_NAME"/>
			<result property="teacherReplyInfo" column="TEACHER_REPLY_INFO"/>
			<result property="teacherReplyTime" column="TEACHER_REPLY_TIME"/>
			<result property="teacherScore" column="TEACHER_SCORE"/>
			<result property="unimplInfo" column="UNIMPL_INFO"/>
		</collection>
	</resultMap>
	
	<select id="countTeacherDayRoast" resultType="Integer">
		select count(1) from ${jdbc.schema}.tb_roaster_jx r where r.TEACHER_ID=#{teacherId} and r.START_TIME > #{startDate} and r.START_TIME &lt; date_add(#{startDate}, interval 1 day)
	</select>
	
	<select id="getTeacherRoastCoures" resultMap="rcMap">
		select cs.*,r.*,r.START_TIME COURSE_START_TIME,r.COURSE_ID ROASTER_ID,cs.COURSE_ID CS_ID from ${jdbc.schema}.tb_course_st cs right join ${jdbc.schema}.tb_roaster_jx r on cs.COURSE_ID=r.COURSE_ID where r.START_TIME > DATE_SUB(#{nowDate},INTERVAL #{beforeDay} day) and r.START_TIME &lt; date_add(#{nowDate}, interval #{afterDay} day) and r.TEACHER_ID= #{teacherId} order by r.COURSE_TIMEAREA_CODE asc,r.START_TIME ${order}
	</select>
	
	<select id="getRoasterByStudentCourse" resultMap="defaulfResultMap">
		select r.* from ${jdbc.schema}.tb_course_st sc left join ${jdbc.schema}.tb_roaster_jx r on sc.COURSE_ID=r.COURSE_ID where sc.ST_COURSE_ID= #{stCourseId}
	</select>
	
	<update id="addTeacherCourse">
		update ${jdbc.schema}.tb_roaster_jx r set r.CAN_SIGN_NUM=r.CAN_SIGN_NUM+1 where r.COURSE_ID = #{courseId} 
	</update>
	
	<update id="bookingTeacherCourse">
		update ${jdbc.schema}.tb_roaster_jx r set r.CAN_SIGN_NUM=r.CAN_SIGN_NUM-1 where r.START_TIME > now() and r.CAN_SIGN_NUM > 0 and r.COURSE_ID = #{courseId} 
	</update>
	
</mapper>